@import 'partials/base';

.theme--light.auth--app--holder.v-application {
  background-image: url('/auth-shape.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
  .v-main {
    padding: 0 !important;
  }
  .auth--view {
    width: 100%;
  }
}

.toasted-container.top-right {
  top: 0 !important;
}
